.container {
    width: 75%;
    text-align: center;
    margin: 1rem auto;
}

.carousel {
    max-width: 500px;
    margin: 0 auto;
    position: relative;
}

.carousel img {
    width: 100%;
    border-radius: 6px;
}

.carousel .carousel__item, 
.carousel .carousel__item--hidden {
    display: none;
}

.carousel .carousel__item--visible {
    display: block;
    animation: fadeIn .6s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.carousel .carousel__actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
}

.carousel .carousel__actions button {
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    height: 50px;
    width: 50px;
    border: none;
    background-color: rgba(255, 235, 205, 0.5);
    font-size: 2rem;
    color: black;
    margin: 0.5rem;
    
}